#callback.popup
  .popup__title Название формы
  .popup__text Lorem ipsum dolor sit amet, consectetuer. Aenean commodo ligula eget dolor. Aenean massa.
  form
    p: label.input
      span.input__label Введите ваше имя
      input.input__input
    p: label.input
      span.input__label Введите ваш телефон
      input.input__input(type="tel")
    p: button.btn ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
    .form__note Нажимая на кнопку, Вы даете согласие на#[br]#[a(href='#') обработку своих персональных данных]
