#politic.popup.popup--text
  .popup__text
    p Lorem ipsum dolor sit amet, consectetuer. Aenean commodo ligula eget dolor. Aenean massa.
    p Lorem ipsum dolor sit amet, consectetuer. Aenean commodo ligula eget dolor. Aenean massa.
    p Lorem ipsum dolor sit amet, consectetuer. Aenean commodo ligula eget dolor. Aenean massa.
    p Lorem ipsum dolor sit amet, consectetuer. Aenean commodo ligula eget dolor. Aenean massa.

