.hero
  .c
    .hero__main
      h1.hero__title ВЗЫСКАНИЕ#[br]ДОЛГА #[span ПО#[br]ДОГОВОРУ ЗАЙМА]
      .hero__subtitle Взыскание долгов по договору#[br]займа в течении 6 месяцев
      a.btn(href='#')
        | ПОЛУЧИТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ
        span по вопросу взыскания долга
    img.hero__image(src='modules/hero/hero-image.png')
    .hero__aside
      .panel.hero__panel
        .hero__icon: svg: use(xlink:href="#check")
        | #[span Подготовка#[br] всех документов] включена#[br] в стоимость услуг
      .panel.hero__panel
        .hero__icon: svg: use(xlink:href="#check")
        | #[span Судебное заседание#[br] через 1 месяц] после начала#[br] сотрудничества
      .panel.hero__panel
        .hero__icon: svg: use(xlink:href="#check")
        | #[span Стоимость услуг]#[br] составляет #[span 10% от суммы]#[br] иска, но не менее 25 000 руб.
