.certificates
  .c
    h2.certificates__title #[span МЫ ПОСТОЯННО] СОВЕРШЕНСТВУЕМСЯ И ОБУЧАЕМСЯ
    .certificates__slider
      .certificates__items
        a.certificates__item(href='modules/certificates/img/1.jpg' data-width=270 data-height=217 data-index=0)
          img.certificates__img(src='modules/certificates/img/5da81f280d6ca_3-332x240.jpg')
          .certificates__label: span НАЗВАНИНИЕ СЕРТИФИКАТА
        a.certificates__item(href='modules/certificates/img/2.jpg' data-width=270 data-height=217 data-index=1)
          img.certificates__img(src='modules/certificates/img/5da81f280d6ca_3-332x240.jpg')
          .certificates__label: span НАЗВАНИНИЕ СЕРТИФИКАТА
        a.certificates__item(href='modules/certificates/img/3.jpg' data-width=270 data-height=217 data-index=2)
          img.certificates__img(src='modules/certificates/img/5da81f280d6ca_3-332x240.jpg')
          .certificates__label: span НАЗВАНИНИЕ СЕРТИФИКАТА
        a.certificates__item(href='modules/certificates/img/4.jpg' data-width=270 data-height=217 data-index=3)
          img.certificates__img(src='modules/certificates/img/5da81f280d6ca_3-332x240.jpg')
          .certificates__label: span НАЗВАНИНИЕ СЕРТИФИКАТА
        a.certificates__item(href='modules/certificates/img/5.jpg' data-width=270 data-height=217 data-index=4)
          img.certificates__img(src='modules/certificates/img/5da81f280d6ca_3-332x240.jpg')
          .certificates__label: span НАЗВАНИНИЕ СЕРТИФИКАТА
        a.certificates__item(href='modules/certificates/img/6.jpg' data-width=270 data-height=217 data-index=5)
          img.certificates__img(src='modules/certificates/img/5da81f280d6ca_3-332x240.jpg')
          .certificates__label: span НАЗВАНИНИЕ СЕРТИФИКАТА

      .certificates__navs
        button.certificates__nav.certificates__nav--prev: svg: use(xlink:href="#arrow")
        button.certificates__nav.certificates__nav--next: svg: use(xlink:href="#arrow")
