.certificates
  background: #f5f5f5
  padding: 86px 0 94px
  @media (max-width: $breakpoint-md - 1)
    padding: 52px 0 30px

  .c
    overflow: hidden;
    position: relative;

  &__title
    margin-bottom: 86px
    @media (max-width: $breakpoint-md - 1)
      margin-bottom: 33px
      text-align: center;

  //&__slider
  //  overflow: hidden;

  &__items
    display: flex;

  &__item
    flex-shrink 0

    &:hover
      span
        border-bottom: 2px solid transparent;

  &__img
    max-width 100%
    width: auto;
    height: 240px
    display: block;
    margin: 0 auto 9px
    @media (max-width: $breakpoint-md - 1)
      height: 180px
      margin-bottom: 0

  &__label
    text-align: center;
    padding: 0 20px

    span
      font-size: 11px
      line-height: 2
      font-weight: 600
      display: inline;
      border-bottom: 2px solid #2e9bdb;
      anim()
      @media (max-width: $breakpoint-md - 1)
        font-size: 9px

  &__navs
    @media (max-width: $breakpoint-lg - 1)
      display: flex;
      align-items center
      justify-content center
      margin-top: 35px

  &__nav
    width: 44px
    height: 44px
    border-radius: 10px
    background: #ffffff
    position: absolute;
    top: 0
    right: 0
    anim()
    @media (max-width: $breakpoint-lg - 1)
      position: static;
      margin: 0 5px

    &:hover
      background: $blue

      svg
        fill: #f5f5f5

    svg
      display: block;
      fill $blue
      width: 100%
      height: 16px
      anim()

    &--prev
      right: 69px
      @media (max-width: $breakpoint-lg - 1)
        right: auto;
        left: 0

    &--next
      right: 15px
      @media (max-width: $breakpoint-lg - 1)
        right: 0

      svg
        transform rotate(180deg)
