.problems
  .problems__inner
    h2.problems__title #[span УСТАЛИ ЖДАТЬ, КОГДА ДЕБИТОРЫ#[br]ВЕРНУТ ДОЛГИ?] ВАМ НЕ ПРИДЕТСЯ:
    .problems__items
      .problems__item.problems__item--active
        .problems__text: .problems__content
          p Вам не придется вникать в законодательную базу РФ. Мы постоянно обучаемся и совершенствуем свои знания. Мы вкурсе всех нововведений в законодательную базу РФ.
          a.btn(href='#') ВЕРНУТЬ ДОЛГИ
        .panel.problems__panel
          .problems__arrow: svg: use(xlink:href="#arrow")
          | Вникать в#[br]законодательную базу РФ

      .problems__item
        .problems__text: .problems__content
          p Вам не придется вникать в законодательную базу РФ. Мы постоянно обучаемся и совершенствуем свои знания. Мы вкурсе всех нововведений в законодательную базу РФ.
          a.btn(href='#') ВЕРНУТЬ ДОЛГИ
        .panel.problems__panel
          .problems__arrow: svg: use(xlink:href="#arrow")
          | Вникать в правила работы судебных приставов

      .problems__item
        .problems__text: .problems__content
          p Вам не придется вникать в законодательную базу РФ. Мы постоянно обучаемся и совершенствуем свои знания. Мы вкурсе всех нововведений в законодательную базу РФ.
          a.btn(href='#') ВЕРНУТЬ ДОЛГИ
        .panel.problems__panel
          .problems__arrow: svg: use(xlink:href="#arrow")
          | Посещать#[br]судебные заседания

      .problems__item
        .problems__text: .problems__content
          p Вам не придется вникать в законодательную базу РФ. Мы постоянно обучаемся и совершенствуем свои знания. Мы вкурсе всех нововведений в законодательную базу РФ.
          a.btn(href='#') ВЕРНУТЬ ДОЛГИ
        .panel.problems__panel
          .problems__arrow: svg: use(xlink:href="#arrow")
          | Работать#[br]с бумагами
