nav.menu
  button.menu__button
    svg.menu__hamburger: use(xlink:href="#hamburger")
    svg.menu__close: use(xlink:href="#close")
  a.menu__phone(href='tel:123') +7 (927) 287-80-00
  a.callBtn.callBtn--sm.menu__call.popup__opener(href='#callback') Заказать звонок
  .menu__menu
    .c
      ul
        li: a(href='#') О КОМПАНИИ
        li: a(href='#') НАШИ ПРЕИМУЩЕСТВА
        li: a(href='#') ФИЗИЧЕСКИМ ЛИЦАМ
        li: a(href='#') ЮРИДИЧЕСКИМ ЛИЦАМ
        li: a(href='#') СТОИМОСТЬ
        li: a(href='#') КОНТАКТЫ
