.form
  .c
    .form__container
      .form__aside
        h2.form__title #[span УЗНАЙТЕ] ПРЕДВАРИТЕЛЬНУЮ СТОИМОСТЬ РАБОТ ПО ВАШЕЙ ЗАДАЧЕ
      .form__main
        .panel.form__panel
          .form__info
            .form__label Оставьте заявку на получение бесплатной консультации
            p чтобы обсудить свои задачи с юристом, получить варианты решения и их ориентировочную стоимость.
          .form__form
            form
              p: label.input
                span.input__label Введите ваше имя
                input.input__input
              p: label.input
                span.input__label Введите ваш телефон
                input.input__input(type='tel')
              p: button.btn ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
            .form__note Нажимая на кнопку, Вы даете согласие на#[br]#[a(href='#') обработку своих персональных данных]
