.bullets
  .c
    h2.bullets__title ПОЧЕМУ СТОИТ ОБРАТИТЬСЯ #[span ИМЕННО К НАМ?]
    .bullets__items
      .bullets__item
        .bullets__icon: svg: use(xlink:href="#diamond")
        .bullets__name 15 ЛЕТ
        .bullets__text Успешной юридической#[br] практики

      .bullets__item
        .bullets__icon: svg: use(xlink:href="#case")
        .bullets__name 21 ДЕЛО
        .bullets__text Кол-во успешных дел в сфере#[br]взыскания долгов

      .bullets__item
        .bullets__icon: svg: use(xlink:href="#wallet")
        .bullets__name СТОИМОСТЬ
        .bullets__text Вы заранее знаете стоимость#[br]услуг, без ее увеличения

    .bullets__button
      a.btn(href='#') ОБСУДИТЬ С ЮРИСТОМ ВАРИАНТЫ РЕШЕНИЯ
