.callBtn
  display: inline-flex
  align-items center
  justify-content center
  background: linear-gradient(to bottom, #4bb4f4 0%, #2b8fcb 100%)
  padding: 15px 38px 16px 18px
  position: relative
  cursor: pointer
  border-radius: 10px
  color: #ffffff
  font-size: 12px
  margin-bottom: 5px
  //transition all 0.1s linear !important

  &:before, &:after
    content ''
    position: absolute;
    border-radius: 10px
    left: -1px
    right: -1px
    z-index: -1
    //transition all 0.1s linear !important

  &:before
    top: -1px
    bottom: -1px
    background: linear-gradient(to bottom, #3499d6 0%, #4ab3f3 100%)

  &:after
    background: #2c79a6
    top: 0
    bottom: -5px

  &:focus
    outline 0

  &:hover
    background: linear-gradient(to bottom, #5dbcf5 0%, #419ad1 100%)

    &:before
      background: linear-gradient(to bottom, #49b3f3 0%, #359ad7 100%)


  &:active
    margin-top: 2px
    margin-bottom: 3px

    &:after
      bottom: -3px

  svg
    display: block
    fill: #fff
    anim()

  &--sm
    font-size: 8px
    padding: 4px 13px 5px
    border-radius: 5px
    margin-bottom: 3px

    &:before, &:after
      border-radius: 5px

    &:after
      bottom: -3px

    &:active
      margin-top: 2px
      margin-bottom: 1px

      &:after
        bottom: -1px
