footer.footer
  .c
    .footer__container
      a.footer__politic.popup__opener(href='#politic') ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
      .footer__aside
        .footer__socials
          a.footer__social(href='#'): svg: use(xlink:href="#fb")
          a.footer__social(href='#'): svg: use(xlink:href="#inst")
          a.footer__social(href='#'): svg: use(xlink:href="#vk")
        .footer__contacts
          a.footer__email(href='mailto:info@2help.ru') info@2help.ru
          a.footer__phone(href='tel:79023243598') +7 (902) 324-35-98
