.map
  .c
    #map.map__map(data-center='[55.761685, 37.658527]' data-zoom='16')
    .hidden
      .panel.map__balloon

        .map__title Адрес офиса в Москве
        .map__address
          svg.map__geo: use(xlink:href="#geo")
          |120090, Россия, г. Москва, Земляной Вал, 9, офис 590
